
 /*
  * This is the global CSS file. You can add global styles to this file and they'll be applied to all pages.
  * Learn more: https://redwoodjs.com/docs/css-variables
  */




 /* purple : 86, 17, 57  */
 /* lightblue : 56, 162, 215 */
 /*
vec3(86/255, 192/255, 245/255),
vec3(138/255, 29/255, 89/255),
vec3(86/255, 192/255, 245/255),
*/

 /* li:nth-child(n+1) {
   color: var(--white--);
   display: block;
   align-items: baseline;
   padding: 25px 16px;
   text-decoration: none;
   font-family: "Josefin", Sans-serif;
 } */

 /* rgb(86, 192, 245) */
 .LandingPage {
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-family: "Josefin", Sans-serif;
 }

 .heading {
   font-weight: 400;
   font-size: 96px;
   line-height: 96px;
   font-family: "Josefin", Sans-serif;
   padding: 22px;
   height: 100vh;
   background: linear-gradient(90deg,
       rgba(255, 200, 225, .5) 0%,
       rgba(196, 238, 254, 0.5) 100%);
 }



 .main {
  overflow: auto;
   background: linear-gradient(90deg,
       rgba(255, 200, 225, .5) 0%,
       rgba(196, 238, 254, 0.5) 100%);

 }

 nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background: rgb(150, 0, 70);
 }

 nav li {
   float: right;
   display: block;
   font-Size: 1.7rem;
   font-Weight: 800;
   margin: 0 1rem;
   padding: 25px 16px;
 }
.TaskView {
    display: flex;
    flex-direction: column;
    float:right;
    margin: 2rem;
    width: fit-content;
    height: 800px;
    font-family: "Josefin", Sans-serif;
 }



 .horizontal-bar {
   margin: 0;
   padding: 10px 16px;
   background-color: wheat;
 }

 #your {
   color: var(--yellow);
 }

 .duration {
   color: var(--yellow);
   font-size: 20px;
 }

 .title {
   font-size: 48px;
 }

 .footer {
   margin: 0;
   padding: 10px 16px;
   position: fixed;
   left: 0px;
   bottom: 0px;
   right: 0px;
 }


 .innertext {
   padding-left: 20px;

 }

 .particles {
   position: absolute;
   top: 0;
   left: 0;
   z-index: -100;
   color: rgb(150, 0, 70);
 }

 .mini-horizontal-bar {
   background-color: var(--white--);
   height: 1.9%;
   width: 40%;
   position: absolute;
   bottom: 0.01%;
 }

 #redwood-app {
   overflow: hidden;
 }

 .bi {}

 /*
  :root
{
  --deep-blue:#364064;
  --yellow:#F8CD8B;
  --light-blue-background:#717891;
  --white--:#ffffff;
  --orange--:#F39B85;

}

body{
  color:red;
  background-color:red;
}

ul{
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color: var(--deep-blue);
  color:var(--white--);

}
li{
  float:right;
  display: block;
}
li:nth-child(n+1){
  color :var(--white--);
  display: block;
  align-items: baseline;
  padding: 25px 16px;
  text-decoration: none;
  font-family: "Josefin" ,Sans-serif;

}


.heading {
color: var(--white--);
font-weight: 400;
font-size: 96px;
line-height: 96px;
font-family: "Josefin" ,Sans-serif;
margin: 80px;
}
.horizontal-bar{
  margin:0;
  padding:10px 16px;
  background-color:white;
}
#your{
  color:var(--yellow);
}
.duration{
  color:var(--yellow);
  font-size: 20px;
}
.title{
  font-size: 48px;
}
.footer{
  margin:0;
  padding:10px 16px;
  position:fixed;
  left:0px;
  bottom:0px;
  right:0px;
  background-color:var(--orange--);
}
.appointmentItem{
  height:160px;
  width:40%;
  margin:80px;
  background-color:var(--deep-blue);
  color: #D9D9D9;
  text-align: left;

}

.innertext{
padding-left: 20px;

}
.mini-horizontal-bar{
  background-color: var(--white--);
  height:1.9%;
  width:40%;
  position:absolute;
  bottom:0.01%;
}

#redwood-app{
  overflow: hidden;
}
*/

.hidden {
  display: none;
}



.indentedInput {
  border: 1px solid silver;
  margin: 0px 15px 10px 15px;
  padding: 6px;
  border-radius: 15px;
}
.inputLabel {
  margin: 10px 0px 0px 10px;
}

.formGroup{
  margin: 0px 0px 10px 0px;
  display: flex;
  flex-direction: row;
}
.formGroup > label{
  color: #495057;
  font-weight: 400;
  background: #e9ecef;
  padding: .375rem .75rem;
  border-radius: .25rem 0px 0px .25rem;
  border: 1px solid #ced4da;
  flex: 0 0 25%
}
.formGroup > input, .formGroup > select{
  border: 1px solid #ced4da;
  font-weight: 400;
  margin: 0px 0px 0px -1px;
  padding: .375rem .75rem;
  border-radius: 0px .25rem .25rem 0px;
  color: #495057;
  flex-grow: 1;
}
form > button{
  border-radius: 0.25rem;
  color: white;
  background: #007bff;
  padding: .375rem .75rem;
}

.TaskView{
  margin: 1rem;
}


/*PROFILE PAGE CSSSSSS*/
/* Import Font Dancing Script */
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* {
    margin: 0;
}

/* NavbarTop */
.navbar-top {
    background-color: #fff;
    height: 70px;
}

.title {
    padding-top: 15px;
    position: absolute;
    left: 45%;
}

.navbar-top ul {
    float: right;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 18px 50px 0 40px;
}

.navbar-top ul li {
    float: left;
}

.navbar-top ul li a {
    color: #333;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.icon-count {
    background-color: #ff0000;
    color: #fff;
    float: right;
    font-size: 11px;
    left: -25px;
    padding: 2px;
    position: relative;
}

/* End */

/* Sidenav */
.sidenav {
  background-color: wheat;
    color: #333;
    border-bottom-right-radius: 25px;
    height: 86%;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    position: absolute;
    top: 70px;
    width: 250px;
}

.profile {
    margin-bottom: 20px;
    margin-top: -12px;
    text-align: center;
}

.profile img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px grey;
}

.name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}
.status {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.url, hr {
    text-align: center;
}

.url hr {
    margin-left: 20%;
    width: 60%;
}

.url a {
    color: #818181;
    display: block;
    font-size: 20px;
    margin: 10px 0;
    padding: 6px 8px;
    text-decoration: none;
}

.url a:hover, .url .active {
    background-color: #e8f5ff;
    border-radius: 28px;
    color: #000;
    margin-left: 14%;
    width: 65%;
}

/* End */

/* Main */
.main2 {
    margin-top: 2%;
    margin-left: 29%;
    font-size: 28px;
    padding: 0 10px;
    width: 58%;
}

.main2 h2 {
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.main2 .card {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
}

.main2 .card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
}

.edit {
    position: absolute;
    color: #e7e7e8;
    right: 14%;
}

.social-media {
    text-align: center;
    width: 90%;
}

.social-media span {
    margin: 0 10px;
}

.fa-facebook:hover {
    color: #4267b3 !important;
}

.fa-twitter:hover {
    color: #1da1f2 !important;
}

.fa-instagram:hover {
    color: #ce2b94 !important;
}

.fa-invision:hover {
    color: #f83263 !important;
}

.fa-github:hover {
    color: #161414 !important;
}

.fa-whatsapp:hover {
    color: #25d366 !important;
}

.fa-snapchat:hover {
    color: #fffb01 !important;
}

.profileHeader{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

td{
  font-size: medium;
  font-weight: bolder;
}

/* End */
