:root
{
  --deep-blue:#364064; /* */
  --yellow:#F8CD8B; /* text*/
  --light-blue-background:#717891;/* page background*/
  --white--:#ffffff;
  --orange--:#F39B85;

}

body{
  color:red;
  background-color:red;
}

ul{
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color: var(--deep-blue);
  color:var(--white--);

}
li{
  float:right;
  display: block;
}
li:nth-child(n+1){
  color :var(--white--);
  display: block;
  align-items: baseline;
  padding: 25px 16px;
  text-decoration: none;
  font-family: "Josefin" ,Sans-serif;

}


.heading {
color: var(--white--);
font-weight: 400;
font-size: 96px;
line-height: 96px;
font-family: "Josefin" ,Sans-serif;
margin: 80px;
}
.horizontal-bar{
  margin:0;
  padding:10px 16px;
  background-color:white;
}
#your{
  color:var(--yellow);
}
.duration{
  color:var(--yellow);
  font-size: 20px;
}
.title{
  font-size: 48px;
}
.footer{
  margin:0;
  padding:10px 16px;
  position:fixed;
  left:0px;
  bottom:0px;
  right:0px;
  background-color:var(--orange--);
}
.appointmentItem{
  height:160px;
  width:40%;
  margin:80px;
  background-color:var(--deep-blue);
  color: #D9D9D9;
  text-align: left;

}

.innertext{
padding-left: 20px;

}
.mini-horizontal-bar{
  background-color: var(--white--);
  height:1.9%;
  width:40%;
  position:absolute;
  bottom:0.01%;
}

